<section id="main-section">
  <div class="container m-auto text-center w-1/2">

    <h2 class="text-2xl font-bold italic">Register now</h2>
    <div class="container bg-slate-200 rounded-lg p-5 mt-3">
      <form [formGroup]="registerForm" (ngSubmit)="submitForm()">

        <!-- name --------------------->
        <div class="mb-3">
          <label for="name" class="block mb-2 text-sm font-medium  text-start capitalize">name</label>
          <input formControlName="name" type="text" id="name" class="block w-full p-2 rounded-lg  text-base ">

          @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Danger</span>
            <div>

              <ul class="mt-1.5 text-start list-disc list-inside">
                @if (registerForm.get('name')?.getError('required')) {
                <li class="capitalize">name is required</li>
                } @else if (registerForm.get('name')?.getError('minlength')) {
                <li class="capitalize">min length is: 3</li>
                } @else if (registerForm.get('name')?.getError('maxlength')) {
                <li class="capitalize">max length is: 20</li>
                }
              </ul>

            </div>
          </div>

          }
        </div>
        <!-- email ------------------------------>
        <div class="mb-3">
          <label for="email" class="block mb-2 text-sm font-medium  text-start capitalize">email</label>
          <input formControlName="email" type="email" id="email" class="block w-full p-2 rounded-lg  text-base ">

          @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched ){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Danger</span>
            <div>

              <ul class="mt-1.5 list-disc list-inside">
                @if(registerForm.get('email')?.getError('required')){
                <li class="capitalize">email is required</li>
                }@else if (registerForm.get('email')?.getError('email')) {
                <li class="capitalize">email not valid</li>
                }

              </ul>
            </div>
          </div>
          }
        </div>

        <!-- password----------------------------- -->
        <div class="mb-3">
          <label for="password" class="block mb-2 text-sm font-medium  text-start capitalize">password</label>
          <input formControlName="password" type="password" id="password"
            class="block w-full p-2 rounded-lg  text-base ">
          @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Danger</span>
            <div>

              <ul class="mt-1.5 list-disc list-inside">
                @if(registerForm.get('password')?.getError('required')){
                <li class="capitalize">password is required</li>
                }@else if (registerForm.get('password')?.getError('minlength')) {
                <li class="capitalize">minLength is 6 caracters</li>}
                @else if (registerForm.get('password')?.getError('pattern')) {
                <li class="capitalize">you must start with capital caracter </li>}
              </ul>
            </div>
          </div>
          }
        </div>
        <!-- repassword----------------------------------------------- -->
        <div class="mb-3">
          <label for="rePassword" class="block mb-2 text-sm font-medium  text-start capitalize">rePassword</label>
          <input formControlName="rePassword" type="password" id="rePassword"
            class="block w-full p-2 rounded-lg  text-base ">
          @if (registerForm.getError('mismatch') && registerForm.get('rePassword')?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Danger</span>
            <div>

              <ul class="mt-1.5 list-disc list-inside">
                @if(registerForm.get('rePassword')?.getError('required')){
                <li class="capitalize">password not matched</li>}
              </ul>
            </div>
          </div>
          }
          @if (registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Danger</span>
            <div>

              <ul class="mt-1.5 list-disc list-inside">
                @if(registerForm.get('rePassword')?.getError('required')){
                <li class="capitalize">password is required</li>}
              </ul>
            </div>
          </div>
          }

        </div>
        <!-- phone--------------------------------------------------------------- -->
        <div class="mb-3">
          <label for="phone" class="block mb-2 text-sm font-medium  text-start capitalize">phone</label>
          <input formControlName="phone" type="tel" id="phone" class="block w-full p-2 rounded-lg  text-base ">
          @if (registerForm.get('phone')?.errors && registerForm.get('phone')?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Danger</span>
            <div>

              <ul class="mt-1.5 list-disc list-inside">
                @if(registerForm.get('phone')?.getError('required')){
                <li class="capitalize">phone is required</li>
                } @else if (registerForm.get('phone')?.getError('pattern')) {
                <li class="capitalize">this phone un valid </li>}
              </ul>
            </div>
          </div>
          }

        </div>
        <button type="submit" [disabled]="isLoading" class="btn-main">
          @if (isLoading) {
          <span><i class="fa-spin fas fa-spinner fa-1x"></i></span>
          }@else{sign up}
        </button>

        @if(msgError){
        <p class="bg-red-400 text-white px-2 py-4 border">
          {{msgError}}
        </p>
        }@else if (msgsuccess) {
        <p class="bg-green-400 text-white px-2 py-4 border">
          {{msgsuccess}}
        </p>

        }

      </form>

    </div>
  </div>
</section>
