<section class="container m-auto text-center w-1/2">

  <h1 class="text-2xl font-bold italic"> Forget Password</h1>

@if (step==1) {
  <form class="container bg-slate-200 rounded-lg p-5 mt-3" [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSub()" action="">


    <div class="my-3">
      <label for="email" class="block mb-2 text-sm font-medium  text-start capitalize">Email</label>
      <input formControlName="email" type="email" class="block w-full p-2 rounded-lg text-base" id="email"/>

    </div>

    @if (verifyEmail.get('email')?.errors && verifyEmail.get('email')?.touched ){
      <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
        <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Danger</span>
        <div>

          <ul class="mt-1.5 list-disc list-inside">
            @if(verifyEmail.get('email')?.getError('required')){
            <li class="capitalize">email is required</li>
            }@else if (verifyEmail.get('email')?.getError('email')) {
            <li class="capitalize">email not valid</li>
            }

          </ul>
        </div>
      </div>
    }


    <button [disabled]="verifyEmail.invalid" [disabled]="isLoading" type="submit" class="btn-main mt-3">
      @if (isLoading) {
        <span><i class="fa-spin fas fa-spinner fa-1x"></i></span>
        }@else{Verify Email}

      </button>

  </form>

}@else if (step==2) {
  <form class="container bg-slate-200 rounded-lg p-5 mt-3" [formGroup]="verifyCode" (ngSubmit)="verifyCodeSub()" action="">
    <div class="my-3">
      <label for="code" class="block mb-2 text-sm font-medium  text-start capitalize">Enter Code</label>
      <input formControlName="resetCode" type="text" class="block w-full p-2 rounded-lg text-base" id="code"/>
    </div>



    <button [disabled]="verifyCode.invalid" [disabled]="isLoading" type="submit" class="btn-main mt-3">
      @if (isLoading) {
        <span><i class="fa-spin fas fa-spinner fa-1x"></i></span>
        }@else{Verify Code}</button>

  </form>

}@else if (step==3) {
  <form class="container bg-slate-200 rounded-lg p-5 mt-3" [formGroup]="resetPassword" (ngSubmit)="resetPasswordSub()" action="">


    <div class="my-3">
      <label for="email" class="block mb-2 text-sm font-medium  text-start capitalize">Email</label>
      <input readonly formControlName="email" type="email" class="block w-full p-2 rounded-lg text-base" id="email"/>

      @if (resetPassword.get('email')?.errors && resetPassword.get('email')?.touched ){
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Danger</span>
          <div>

            <ul class="mt-1.5 list-disc list-inside">
              @if(resetPassword.get('email')?.getError('required')){
              <li class="capitalize">email is required</li>
              }@else if (resetPassword.get('email')?.getError('email')) {
              <li class="capitalize">email not valid</li>
              }

            </ul>
          </div>
        </div>
      }




    </div>
    <div class="my-3">
      <label for="password" class="block mb-2 text-sm font-medium  text-start capitalize">new password</label>
      <input  formControlName="newPassword" type="password" class="block w-full p-2 rounded-lg text-base" id="password"/>

      @if (resetPassword.get('password')?.errors && resetPassword.get('password')?.touched) {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 " role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Danger</span>
          <div>

            <ul class="mt-1.5 list-disc list-inside">
              @if(resetPassword.get('newPassword')?.getError('required')){
              <li class="capitalize">password is required</li>
              }@else if (resetPassword.get('newPassword')?.getError('minlength')) {
              <li class="capitalize">minLength is 6 caracters</li>}
              @else if (resetPassword.get('newPassword')?.getError('pattern')) {
              <li class="capitalize">you must start with capital caracter </li>}
            </ul>
          </div>
        </div>
        }




    </div>

    <button [disabled]="resetPassword.invalid" [disabled]="isLoading" type="submit" class="btn-main mt-3">
      @if (isLoading) {
        <span><i class="fa-spin fas fa-spinner fa-1x"></i></span>
        }@else{Verify Email}</button>

  </form>

}
</section>
